*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Home Banner */
.logoImg{
  width: 10%;
  height: 10%;
  object-fit: cover;
  position: absolute;
  z-index: 9990;
  left: 3%;
  top: 5%;
  background-color: rgb(203, 204, 204) ;
  border-radius: 7px;
  padding-bottom: 7px;
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 22px;
  }
  .btnBlock{
  
  }
  .imgBn{
      width: 100%;
      height: 90vh;
      object-fit: cover;
  }
  .BannerBtns{
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -4%;
    height: 100px;
    z-index: 9999;
    border: 2px solid white;
    border-radius: 7px;
    background-color: lightgray;
  }
  .welcomeTxT{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: xx-large;
    top: 65%;
    font-weight: bold;
  }
  /* Card */
  .cardContainer{
    width: 100px;
    height: 100px;
    margin-top: 19px;

  }
  .CardImgContent{
    position: absolute;
  }
  .cardBtn{
    position: absolute;
    top: 50%;
  }
  .cardImg{
    width: 20vw;
    height: 15vw;
    object-fit: cover;
  }
  .wrapperCd,CardBtnContainer{
    display: flex;
  }

  /* footer */
  .footer__wrapper{
    position: relative;
    bottom: 0;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 50px;

  }
  .underline_{
    width: 50px;
  }
  .newsletter_input{

  }
  .footer__about,footer__newsletter,footer__contact,footer__followUs{
    width: 15vw;
   
  }
  .cardf__wrapper{
    display: flex;flex-direction: row;
    justify-content: space-around;align-items: center;
    height: 40vh;
    background-color: #ff3399;
  }
  .featured_card{
    height: auto;
  }
  .btn__link{
    text-decoration: none;
    text-decoration-line: none;
  }